# ğŸ¤£ Preparing for data analysis test
> ë‹¨ê¸°ì†ì„± ë¹…ë¶„ê¸° ì‹¤ê¸° ëŒ€ë¹„, using mtcars data set
- toc: true
- branch: master
- badges: false
- comments: true
- author: dinonene
- categories: [python]

# ë°ì´í„°ë¥¼ ê´€ì°°í•˜ê³  ê°€ê³µí•˜ê¸°: ì „ì²˜ë¦¬(preprocessing)

í˜„ì—…ì—ì„œ ì‚¬ìš©í•˜ëŠ” ì „ì²˜ë¦¬ ì‘ì—…ì—ëŠ” ìˆ˜ì‹­ ê°€ì§€ê°€ ìˆì§€ë§Œ ì£¼ë¡œ ì‚¬ìš©í•˜ëŠ” ëª‡ê°€ì§€ ì „ì²˜ë¦¬ ì‘ì—…ì„ ì†Œê°œí•˜ê² ìŠµë‹ˆë‹¤.

1. í•„ìš”í•˜ì§€ ì•Šì€ ì—´ ì‚­ì œ
2. ëˆ„ë½ëœ ê°’ë“¤ì„ ë‹¤ë¥¸ ê°’ë“¤ë¡œ ë°”ê¾¸ê±°ë‚˜ ì‚­ì œ
3. ì˜ëª»ëœ ê°’ì„ ë°”ë¥´ê²Œìˆ˜ì •
4. ì¼ë°˜ì ì¸ ë²”ìœ„ì—ì„œ ë²—ì–´ë‚˜ëŠ” ì´ìƒê°’ ì¡°ì •
5. ê° ì—´ë“¤ì˜ ìˆ«ì ê°’ì„ ë™ì¼í•œ ë²”ìœ„ì˜ ìˆ«ìë¡œ ë³€ê²½
6. ì˜ë„í•œ ë°ì´í„° íƒ€ì…ì´ ì•„ë‹ˆë¼ë©´ ì ì ˆí•œ ë°ì´í„° íƒ€ì…ìœ¼ë¡œ ë³€ê²½
7. ë¬¸ìë¡œ êµ¬ì„±ëœ ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ìˆ«ìí˜•ìœ¼ë¡œ ë³€ê²½
8. ë¶„ì„ì— í•„ìš”í•œ ìƒˆë¡œìš´ ì—´ ìƒì„±

## Data Load

In [2]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/7ieon/bigData/main/mtcars.csv')

In [3]:
data.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110,3.90,2.620,16.46,0,manual,4,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110,3.90,2.875,17.02,0,manual,4,4
2,Datsun 710,22.8,4.0,108.0,93,3.85,2.320,18.61,1,manual,4,1
3,Hornet 4 Drive,21.4,6.0,258.0,110,3.08,3.215,0.10,1,auto,3,1
4,Hornet Sportabout,18.7,8.0,360.0,175,3.15,3.440,17.02,0,auto,3,2

In [4]:
data.shape

(32, 12)

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.columns

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [7]:
data.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,carb
count,32.000000,30.000000,32.000000,32.000000,32.000000,32.000000,31.000000,32.000000,32.0000
mean,20.090625,7.600000,230.721875,146.687500,3.596563,3.217250,19.866774,0.437500,2.8125
std,6.026948,8.194195,123.938694,68.562868,0.534679,0.978457,15.310469,0.504016,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,0.100000,0.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.785000,0.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.600000,0.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.755000,1.000000,4.0000
max,33.900000,50.000000,472.000000,335.000000,4.930000,5.424000,100.000000,1.000000,8.0000

In [8]:
# ë‹¨ì¼ë³€ìˆ˜ë„ ê°€ëŠ¥
data['hp'].describe()

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [9]:
print(data['am'].unique()) # amì¹¼ëŸ¼ì—ì„œ ì¤‘ë³µ ì œê±°
print(data['gear'].unique())
print(data['vs'].unique())

['manual' 'auto']
['4' '3' '*3' '5' '*5']
[0 1]

In [10]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [11]:
print(data.corr())

           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.460227 -0.847551 -0.776168  0.681172 -0.867659  0.013668
cyl  -0.460227  1.000000  0.544876  0.323293 -0.372671  0.533690 -0.012755
disp -0.847551  0.544876  1.000000  0.790949 -0.710214  0.887980  0.181810
hp   -0.776168  0.323293  0.790949  1.000000 -0.448759  0.658748  0.010807
drat  0.681172 -0.372671 -0.710214 -0.448759  1.000000 -0.712441 -0.120283
wt   -0.867659  0.533690  0.887980  0.658748 -0.712441  1.000000  0.093900
qsec  0.013668 -0.012755  0.181810  0.010807 -0.120283  0.093900  1.000000
vs    0.664039 -0.323960 -0.710416 -0.723097  0.440278 -0.554916 -0.112146
carb -0.550925  0.239980  0.394977  0.749812 -0.090790  0.427606 -0.120312

            vs      carb
mpg   0.664039 -0.550925
cyl  -0.323960  0.239980
disp -0.710416  0.394977
hp   -0.723097  0.749812
drat  0.440278 -0.090790
wt   -0.554916  0.427606
qsec -0.112146 -0.120312
vs    1.000000 -0.569607
carb -0.569607  1.000000

ìš°ë¦¬ ëª©í‘œëŠ” mpg(ì—°ë¹„) ê°’ì„ **ì˜ˆì¸¡**í•˜ëŠ” ê²ƒ

In [12]:
# ì¢…ì†ë³€ìˆ˜ì™€ ë„ë¦½ë³€ìˆ˜ ë¶„ë¦¬
X = data.drop(columns = 'mpg')  # dependent variables
Y = data['mpg']  # dependent variable

In [13]:
X.head()

,Unnamed: 0,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,6.0,160.0,110,3.90,2.620,16.46,0,manual,4,4
1,Mazda RX4 Wag,6.0,160.0,110,3.90,2.875,17.02,0,manual,4,4
2,Datsun 710,4.0,108.0,93,3.85,2.320,18.61,1,manual,4,1
3,Hornet 4 Drive,6.0,258.0,110,3.08,3.215,0.10,1,auto,3,1
4,Hornet Sportabout,8.0,360.0,175,3.15,3.440,17.02,0,auto,3,2

In [14]:
Y.head()

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

- ì˜ ë‚˜ëˆ ì§„ ê²ƒ ê°™ë‹¤.

## ë°ì´í„° ì „ì²˜ë¦¬

### `1` ë¶ˆí•„ìš”í•œ ì—´ ì‚­ì œ

In [15]:
# Xë³€ìˆ˜ì˜ ì „ì²´ í–‰ê³¼ 1ë²ˆì—´ ~ ë§¨ë ì—´ê¹Œì§€ ì¶”ì¶œí•œ í›„, Xë³€ìˆ˜ì— ë‹¤ì‹œ ì €ì¥í•˜ê¸°
X = X.iloc[:,1:]
X.head()

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2

### `2` ê²°ì¸¡ê°’ ì²˜ë¦¬
ê²°ì¸¡ì¹˜ë¥¼ ì²˜ë¦¬í•˜ëŠ” ë°ëŠ” í•´ë‹¹ ë°ì´í„°ë¥¼ ì‚­ì œí•˜ê±°ë‚˜ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ë°”ê¾¸ëŠ” ë°©ë²•ì´ ìˆìŠµë‹ˆë‹¤. ì—¬ê¸°ì„œ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ë°”ê¾¸ëŠ” ë°ëŠ” ì „ì²´ ë°ì´í„°ì˜ í‰ê· ê°’, ì¤‘ìœ„ê°’ìœ¼ë¡œ ë°”ê¾¸ê±°ë‚˜, í•´ë‹¹ ë°ì´í„°ì™€ ìœ ì‚¬í•œ ê°’ì´ë‚˜ íŒ¨í„´ì„ ì°¸ê³ í•˜ì—¬ ë°”ê¾¸ëŠ” ë“±, ì—¬ëŸ¬ê°€ì§€ ë°©ë²•ì´ ì¡´ì¬í•©ë‹ˆë‹¤. 

**<font color='red'>í•˜ì§€ë§Œ ê²°ì¸¡ì¹˜ë¥¼ ì‚­ì œí•˜ëŠ” ë°©ë²•ì€ ë¹…ë¶„ê¸° ì‹¤ê¸° ì‹œí—˜ì—ì„œëŠ” ì„ íƒí•´ì„œëŠ” ì•ˆ ë©ë‹ˆë‹¤.</font>**

ê·¸ ì´ìœ ëŠ” ì£¼ì–´ì§„ ë¶„ì„ ë°ì´í„°ì˜ ê°œìˆ˜ ê·¸ëŒ€ë¡œ ì˜ˆì¸¡ ê²°ê³¼ë¥¼ ì¶œë ¥í•˜ê±°ë‚˜ íŒŒì¼ë¡œ ì œì¶œí•´ì•¼í•˜ê¸° ë•Œë¬¸ì…ë‹ˆë‹¤.

In [16]:
# ê²°ì¸¡ì¹˜ ì—¬ë¶€ í™•ì¸
X.isnull().head(3)

     cyl   disp     hp   drat     wt   qsec     vs     am   gear   carb
0  False  False  False  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False  False  False

In [17]:
print(X.isnull().sum())

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

`cyl`ê³¼ `qsec`ì—´ì— ê²°ì¸¡ì¹˜ê°€ ê°ê° 2ê°œ, 1ê°œ ìˆìŒì„ í™•ì¸

#### `-` í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì¹˜í•˜ê¸° (cyl)

In [18]:
# cylì—´ì˜ í‰ê· ê°’ì„ x_cyl_mean ë³€ìˆ˜ì— ì €ì¥
X_cyl_mean = X['cyl'].mean()

# X_cyl_mean ë³€ìˆ˜ í™•ì¸
print(X_cyl_mean)

7.6

In [19]:
# í‰ê· ê°’ìœ¼ë¡œ cyl ê²°ì¸¡ì¹˜ ëŒ€ì¹˜
X['cyl'] = X['cyl'].fillna(X_cyl_mean)

In [20]:
X.isnull().sum()

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

- `cyl`ì˜ ê²°ì¸¡ê°’ì´ ì˜ ì²˜ë¦¬ëœ ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

#### `-` ì¤‘ìœ„ê°’ìœ¼ë¡œ ëŒ€ì¹˜í•˜ê¸° (qsec)

In [21]:
# qsecì—´ì˜ ì¤‘ìœ„ê°’ì„ X_qsec_median ë³€ìˆ˜ì— ì €ì¥í•˜ê¸°
X_qsec_median = X['qsec'].median()

# X1_qsec_median
X_qsec_median

17.6

In [22]:
# ì¤‘ì•™ê°’ìœ¼ë¡œ qsec ê²°ì¸¡ì¹˜ ëŒ€ì¹˜
X['qsec'] = X['qsec'].fillna(X_qsec_median)

In [23]:
X.isnull().sum()

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

- ê²°ì¸¡ì¹˜ê°€ ëª¨ë‘ ì²˜ë¦¬ë˜ì—ˆë‹¤. cylì€ í‰ê· ìœ¼ë¡œ ê²°ì¸¡ê°’ì„ ëŒ€ì¹˜í•˜ì˜€ê³ , qsecëŠ” ì¤‘ì•™ê°’ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ëŒ€ì¹˜í•˜ì˜€ë‹¤.

### `3` ì˜ëª»ëœ ê°’ì„ ì˜¬ë°”ë¥´ê²Œ ë³€ê²½

gearì—´ì— ì˜ë„ì¹˜ ì•Šì€ íŠ¹ìˆ˜ë¬¸ìê°€ í¬í•¨ë˜ì–´ ìˆê³ , ë°ì´í„° íƒ€ì… ë˜í•œ objectë¡œ ì¸ì‹ë¨ì„ ì•Œ ìˆ˜ ìˆë‹¤.

In [24]:
X['gear'].unique()

array(['4', '3', '*3', '5', '*5'], dtype=object)

In [25]:
X['gear'].value_counts()

3     14
4     12
5      4
*3     1
*5     1
Name: gear, dtype: int64

- `*3`, `*5`  ì˜ëª»ë“¤ì–´ê°„ ì• ë“¤..!
- $*3 \to 3, *5 \to 5$ ë¡œ ìˆ˜ì •í•˜ì. (2ê°œë§Œ ì²˜ë¦¬í•˜ë©´ ë  ë“¯í•˜ë‹¤..)

In [26]:
X['gear'] = X['gear'].replace('*3','3').replace('*5','5')
X['gear'].value_counts()

3    15
4    12
5     5
Name: gear, dtype: int64

- ì˜ ë³€í™˜ë˜ì—ˆë‹¤..ã…ã…

### `4` ì´ìƒê°’ ì²˜ë¦¬

ì´ìƒê°’ì€ ì •ìƒì ì¸ ë°ì´í„°ì˜ ë²”ìœ„ë¥¼ ë„˜ì–´ì„œëŠ” ë¹„ì •ìƒì¸ ê°’ìœ¼ë¡œ, data scalingë³´ë‹¤ ì„ í–‰ë˜ì–´ì•¼ í•œë‹¤. data scaling ì´í›„ì— ì´ìƒê°’ì„ ì²˜ë¦¬í•œë‹¤ë©´, ë°ì´í„°ì˜ ë¶„í¬ê°€ ì™œê³¡ë˜ê±°ë‚˜ ë°ì´í„° ìŠ¤ì¼€ì¼ë§ì˜ ìˆ˜í–‰ì´ ë‹¤ì‹œ í•„ìš”í• ìˆ˜ë„ ìˆë‹¤.

**ë¹…ë¶„ê¸° ì‹œí—˜ì—ì„œëŠ” ì´ìƒê°’ì˜ ì²˜ë¦¬ë°©ì‹ì„ ë°ì´í„° ì‚­ì œê°€ ì•„ë‹Œ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ êµì²´í•  ê²ƒì„ ì¶”ì²œí•œë‹¤.**

ë§Œì•½, ì´ìƒê°’ì„ ì œê±°í•˜ë¼ê³  ëª…ì‹œë˜ì–´ìˆë‹¤ë©´, ë¬¸ì œì˜ ìš”êµ¬ëŒ€ë¡œ ì²˜ë¦¬í•˜ë©´ ëœë‹¤.

#### `-` ì‚¬ë¶„ìœ„ìˆ˜ í™œìš©


ì™¼ìª½ì— ìœ„ì¹˜í•œ ì´ìƒê°’ (ì‘ì€) : $Q1 - 1.5 * IQR$ <br>
ì˜¤ë¥¸ìª½ì— ìœ„ì¹˜í•œ ì´ìƒê°’ (í°) : $Q3 + 1.5 * IQR$

In [27]:
X_describe = X.describe()
print(X_describe)

             cyl        disp          hp       drat         wt        qsec  \
count  32.000000   32.000000   32.000000  32.000000  32.000000   32.000000
mean    7.600000  230.721875  146.687500   3.596563   3.217250   19.795938
std     7.925459  123.938694   68.562868   0.534679   0.978457   15.066831
min     4.000000   71.100000   52.000000   2.760000   1.513000    0.100000
25%     4.000000  120.825000   96.500000   3.080000   2.581250   16.827500
50%     6.000000  196.300000  123.000000   3.695000   3.325000   17.600000
75%     8.000000  326.000000  180.000000   3.920000   3.610000   18.682500
max    50.000000  472.000000  335.000000   4.930000   5.424000  100.000000

              vs     carb
count  32.000000  32.0000
mean    0.437500   2.8125
std     0.504016   1.6152
min     0.000000   1.0000
25%     0.000000   2.0000
50%     0.000000   2.0000
75%     1.000000   4.0000
max     1.000000   8.0000

In [28]:
# X_describe ë³€ìˆ˜ì—ì„œ 75% í–‰ê³¼ 25%í–‰ í™•ì¸
print(X_describe.loc['75%'],X_describe.loc['25%'])

cyl       8.0000
disp    326.0000
hp      180.0000
drat      3.9200
wt        3.6100
qsec     18.6825
vs        1.0000
carb      4.0000
Name: 75%, dtype: float64 cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.82750
vs        0.00000
carb      2.00000
Name: 25%, dtype: float64

In [29]:
x_iqr = X_describe.loc['75%'] - X_describe.loc['25%']

print(x_iqr)

cyl       4.00000
disp    205.17500
hp       83.50000
drat      0.84000
wt        1.02875
qsec      1.85500
vs        1.00000
carb      2.00000
dtype: float64

In [30]:
print('[ q3 + 1.5 * iqr ]')
print(X_describe.loc['75%'] + (1.5 * x_iqr))
print()
print('[ q1 - 1.5 * iqr ]')
print(X_describe.loc['25%'] - (1.5 * x_iqr))

[ q3 + 1.5 * iqr ]
cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64

[ q1 - 1.5 * iqr ]
cyl      -2.000000
disp   -186.937500
hp      -28.750000
drat      1.820000
wt        1.038125
qsec     14.045000
vs       -1.500000
carb     -1.000000
dtype: float64

In [31]:
print(X_describe.loc['max'])
print()
print(X_describe.loc['min'])

cyl      50.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec    100.000
vs        1.000
carb      8.000
Name: max, dtype: float64

cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec     0.100
vs       0.000
carb     1.000
Name: min, dtype: float64

In [32]:
X_describe.loc['max'] > X_describe.loc['75%'] + (1.5 * x_iqr)

cyl      True
disp    False
hp       True
drat    False
wt       True
qsec     True
vs      False
carb     True
dtype: bool

In [33]:
X_describe.loc['min'] < X_describe.loc['25%'] - (1.5 * x_iqr)

cyl     False
disp    False
hp      False
drat    False
wt      False
qsec     True
vs      False
carb    False
dtype: bool

- `cyl`, `hp`, `wt`, `qsec`, `carb` ë³€ìˆ˜ì— ëŒ€í•´ì„œ ì´ìƒì¹˜ë¥¼ ì²˜ë¦¬í•´ì£¼ë©´ ë˜ê² ë‹¤..

In [34]:
# cyl
X.loc[X['cyl'] > 14]

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [35]:
# hp
X.loc[X['hp'] > 305.25]

    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8

In [36]:
X.loc[14, 'cyl'] = 14
X.loc[30, 'hp'] = 305.25

In [37]:
print(X.loc[14, 'cyl'],X.loc[30, 'hp'])

14.0 305.25

#### `-` í‰ê· ê³¼ í‘œì¤€í¸ì°¨ í™œìš©

$\text{ìµœëŒ€ ê²½ê³„ê°’} =  \text{í‰ê· } + 1.5 * \text{í‘œì¤€í¸ì°¨}$<br>
$\text{ìµœì†Œ ê²½ê³„ê°’} =  \text{í‰ê· } - 1.5 * \text{í‘œì¤€í¸ì°¨}$

In [38]:
def outlier(data, column):
    mean = data[column].mean()
    std = data[column].std()
    lowest = mean - (std * 1.5)
    highest = mean + (std * 1.5)
    print('ìµœì†Œ ê²½ê³„ê°’: ', lowest, 'ìµœëŒ€ê²½ê³„ê°’:', highest)
    outlier_index = data[column][(data[column]<lowest) | (data[column] > highest) ].index
    return outlier_index

In [39]:
print(outlier(X,'qsec'))
print()
print(X.loc[24,'qsec'])

ìµœì†Œ ê²½ê³„ê°’:  -2.8043094560577657 ìµœëŒ€ê²½ê³„ê°’: 42.39618445605777
Int64Index([24], dtype='int64')

100.0

In [40]:
X.loc[24, 'qsec'] = 42.245
X.loc[24, 'qsec']

42.245

In [41]:
# carb
print(outlier(X,'carb'))
print()
print(X.loc[[29,30],'carb'])

ìµœì†Œ ê²½ê³„ê°’:  0.3897000335522218 ìµœëŒ€ê²½ê³„ê°’: 5.235299966447778
Int64Index([29, 30], dtype='int64')

29    6
30    8
Name: carb, dtype: int64

In [42]:
# ì¸ë±ìŠ¤ 29, 30ì´ê³ , ì—´ì€ carbì¸ ê°’ì„ 5.245ë¡œ ë³€ê²½
X.loc[29, 'carb'] = 5.235
X.loc[30, 'carb'] = 5.235

X.loc[[29,30], 'carb']

29    5.235
30    5.235
Name: carb, dtype: float64

### `5`ë°ì´í„°ë¥¼ ë™ì¼í•œ ë²”ìœ„ë¡œ ë§ì¶”ê¸° : ë°ì´í„° ìŠ¤ì¼€ì¼ë§
- Standard Scaling
- Min-Max Scaling
- Robust Scaling

In [43]:
from sklearn.preprocessing import StandardScaler

temp = X[['qsec']]
scaler = StandardScaler()
scaler.fit_transform(temp)[:4]

array([[-0.27330047],
       [-0.17334038],
       [ 0.11047486],
       [-3.19356296]])

In [44]:
qsec_s_scaler = pd.DataFrame(scaler.fit_transform(temp))

print(qsec_s_scaler.describe())

                  0
count  3.200000e+01
mean  -2.207436e-16
std    1.016001e+00
min   -3.193563e+00
25%   -2.077017e-01
50%   -6.981029e-02
75%    1.234161e-01
max    4.329326e+00

In [45]:
# mIn-max
from sklearn.preprocessing import MinMaxScaler

temp = X[['qsec']]
scaler = MinMaxScaler()
qsec_m_scaler = pd.DataFrame(scaler.fit_transform(temp))

print(qsec_m_scaler.describe())

               0
count  32.000000
mean    0.424513
std     0.135055
min     0.000000
25%     0.396904
50%     0.415233
75%     0.440918
max     1.000000

In [46]:
# robust : ì¤‘ì•™ê°’ì´ 0, ì‚¬ë¶„ìœ„ë²”ìœ„(IQR)ê°€ 1ì¸ ë¶„í¬ë¡œ ë³€í™˜
from sklearn.preprocessing import RobustScaler

temp = X[['qsec']]
scaler = RobustScaler()

qsec_r_scaler = pd.DataFrame(scaler.fit_transform(temp))
print(qsec_r_scaler.describe())

               0
count  32.000000
mean    0.210832
std     3.068398
min    -9.433962
25%    -0.416442
50%     0.000000
75%     0.583558
max    13.285714

### `6` ë°ì´í„° íƒ€ì… ë³€ê²½
X ë°ì´í„°ì˜ ìš”ì•½ì •ë³´ë¥¼ í†µí•´ì„œ ê° ì—´ë³„ë¡œ ë²”ì£¼í˜• ë³€ìˆ˜ì˜ ë°ì´í„° íƒ€ì…(object, string)ê³¼ ì—°ì†í˜• ë³€ìˆ˜ì˜ ë°ì´í„° íƒ€ì…(int64, float64)ìœ¼ë¡œ ì í•©í•˜ê²Œ ì„¤ì •ë˜ì–´ ìˆëŠ”ì§€ í™•ì¸í•©ë‹ˆë‹¤. ë§Œì•½ ë²”ì£¼í˜• ë³€ìˆ˜ê°€ ì—°ì†í˜• íƒ€ì…ìœ¼ë¡œ ë˜ì–´ìˆê±°ë‚˜, ê·¸ ë°˜ëŒ€ì˜ ê²½ìš°ê°€ ìˆë‹¤ë©´ `astype()` í•¨ìˆ˜ë¥¼ í†µí•´ì„œ ë°ì´í„° íƒ€ì…ì„ ì¬ì„¤ì • í•©ë‹ˆë‹¤.

In [47]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     float64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     object
 9   carb    32 non-null     float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.6+ KB
None

In [48]:
X['gear'].value_counts()

3    15
4    12
5     5
Name: gear, dtype: int64

- í™•ì¸ ê²°ê³¼ ì „ì§„ê¸°ì–´ ê°œìˆ˜ë¥¼ ì˜ë¯¸í•˜ëŠ” `gear` ì—´ì´ object íƒ€ì…ìœ¼ë¡œ ì„¤ì •ë˜ì–´ ìˆìŒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤. ë”°ë¼ì„œ ìˆ˜ì¹˜í˜• (int64)ìœ¼ë¡œ ë³€ê²½

### `7` ë¬¸ìë¡œ êµ¬ì„±ëœ ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ìˆ«ìí˜•ìœ¼ë¡œ ë³€ê²½

In [49]:
X['gear'] = X['gear'].astype('int64')
X['gear'].dtype

dtype('int64')

#### ë²”ì£¼í˜•ì„ ìˆ˜ì¹˜í˜•ìœ¼ë¡œ ë³€ê²½ : ì¸ì½”ë”©(Encoding)
ë°ì´í„° ë¶„ì„ì€ ì»´í“¨í„°ì— ì˜í•´ ìˆ˜í–‰ë˜ê¸° ë•Œë¬¸ì—, ì£¼ì–´ì§„ ë°ì´í„°ëŠ” ì»´í“¨í„°ê°€ ì´í•´í•  ìˆ˜ ìˆëŠ” ê°’ì´ì–´ì•¼ í•©ë‹ˆë‹¤. ë”°ë¼ì„œ í•œê¸€ì´ë‚˜ ì˜ë¬¸ ë“±ì˜ ë¬¸ìì—´ ë°ì´í„°ëŠ” ì»´í“¨í„°ê°€ ì´í•´í•˜ê¸° ì–´ë ¤ìš°ë¯€ë¡œ ìˆ«ìí˜•ìœ¼ë¡œ ë³€ê²½í•´ì•¼ í•©ë‹ˆë‹¤. ì´ëŸ¬í•œ ê³¼ì •ì„ **ì¸ì½”ë”©** ì´ë¼ê³  í•©ë‹ˆë‹¤.
- One-Hot Encoding
- Label Encoding
- ìˆ˜ë™ ì¸ì½”ë”© (Replace)

#### `-` ì›-í•« ì¸ì½”ë”©

In [50]:
# one-hot
print(X.head())
print()
# amì—´ì—ì„œ ì¤‘ë³µ ì œê±°í•œ ê°’ í™•ì¸
print(X['am'].unique())

   cyl   disp     hp  drat     wt   qsec  vs      am  gear  carb
0  6.0  160.0  110.0  3.90  2.620  16.46   0  manual     4   4.0
1  6.0  160.0  110.0  3.90  2.875  17.02   0  manual     4   4.0
2  4.0  108.0   93.0  3.85  2.320  18.61   1  manual     4   1.0
3  6.0  258.0  110.0  3.08  3.215   0.10   1    auto     3   1.0
4  8.0  360.0  175.0  3.15  3.440  17.02   0    auto     3   2.0

['manual' 'auto']

In [51]:
pd.get_dummies(X['am']).head()

   auto  manual
0     0       1
1     0       1
2     0       1
3     1       0
4     1       0

`-` í•˜ë‚˜ì˜ ì—´ë§Œìœ¼ë¡œ auto, manual ê°’ í‘œí˜„í•˜ë ¤ë©´? $\to$ `drop_first=True` ì˜µì…˜ì¶”ê°€

In [52]:
pd.get_dummies(X['am'], drop_first=True).head()

   manual
0       1
1       1
2       1
3       0
4       0

In [53]:
pd.get_dummies(X, drop_first=True).head()

   cyl   disp     hp  drat     wt   qsec  vs  gear  carb  am_manual
0  6.0  160.0  110.0  3.90  2.620  16.46   0     4   4.0          1
1  6.0  160.0  110.0  3.90  2.875  17.02   0     4   4.0          1
2  4.0  108.0   93.0  3.85  2.320  18.61   1     4   1.0          1
3  6.0  258.0  110.0  3.08  3.215   0.10   1     3   1.0          0
4  8.0  360.0  175.0  3.15  3.440  17.02   0     3   2.0          0

#### `-` ë¼ë²¨ì¸ì½”ë”©

In [54]:
# ë¼ë²¨ ì¸ì½”ë”©
print(X['am'].head())

0    manual
1    manual
2    manual
3      auto
4      auto
Name: am, dtype: object

In [55]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
print(encoder.fit_transform(X['am']))

[1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1]

In [56]:
# ê³¼ì¼ ì˜ˆì œ
fruit = ['apple','bananas','grape']

encoder = LabelEncoder()
fruit_new = encoder.fit_transform(fruit)

print(fruit)
print(fruit_new)

['apple', 'bananas', 'grape']
[0 1 2]

#### `-` ìˆ˜ë™ ì¸ì½”ë”© (Replace)
ë°ì´í„° ê°’ì˜ ì¢…ë¥˜ê°€ ë§ì§€ ì•Šì€ ê²½ìš°ëŠ” replace() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•´ì„œ ì¸ì½”ë”©ì„ ìˆ˜í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´ í•©ê²©/ë¶ˆí•©ê²© ê°’, ì‹ ì²­/ë¯¸ì‹ ì²­ ê°’, ë°©ë¬¸/ë¯¸ë°©ë¬¸ ë“±ì˜ ì´ì§„ ë°ì´í„°ë¼ë©´ ìˆ˜ë™ìœ¼ë¡œ ì¸ì½”ë”© í•˜ê¸° ì‰½ìŠµë‹ˆë‹¤.

In [57]:
# amì„ êµ¬ì„±í•˜ëŠ” manualê°’ì€ 0, autoê°’ì„ 1ë¡œ ë³€í™˜
X['am_new']=X['am'].replace('manual',0).replace('auto',1)

print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs      am  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.46   0  manual     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.02   0  manual     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.61   1  manual     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215   0.10   1    auto     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.02   0    auto     3   2.0       1

In [58]:
# ê¸°ì¡´ì˜ amì—´ì€ ë¶ˆí•„ìš”í•˜ë¯€ë¡œ ì‚­ì œ
X = X.drop(columns=['am'])
print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.46   0     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.02   0     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.61   1     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215   0.10   1     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.02   0     3   2.0       1

### `8` íŒŒìƒë³€ìˆ˜ ë§Œë“¤ê¸°
íŠ¹ì •í•œ ì¡°ê±´ì´ë‚˜ í•¨ìˆ˜ì— ì˜í•´ì„œ ìƒˆë¡­ê²Œ ì˜ë¯¸ë¥¼ ë¶€ì—¬í•´ì„œ ë§Œë“œëŠ” ë³€ìˆ˜ì…ë‹ˆë‹¤.

ì²« ë²ˆì§¸ë¡œ ë§Œë“¤ íŒŒìƒë³€ìˆ˜ëŠ” ë¬´ê²Œë¥¼ ì˜ë¯¸í•˜ëŠ” wt ì—´ì— ë”°ë¼ì„œ ë“±ê¸‰ì„ êµ¬ë¶„í•˜ëŠ” wt_class(ë¬´ê²Œì— ë”°ë¥¸ êµ¬ë¶„)ì…ë‹ˆë‹¤. wtì—´ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ë¬´ê²Œì˜ ë“±ê¸‰ì„ ë‚˜ëˆŒ ê²ƒì…ë‹ˆë‹¤.

In [62]:
import numpy as np
np.round(X['wt'].mean(),2)

3.22

In [63]:
# wtì—´ì´ í‰ê· ë³´ë‹¤ ì‘ì€ì§€ ì—¬ë¶€
condition = X['wt'] < np.round(X['wt'].mean(),2)

# ì¡°ê±´ì„ ë§Œì¡±í•˜ë©´ 0
X.loc[condition, 'wt_class'] = 0

# ì¡°ê±´ì„ ë§Œì¡±í•˜ì§€ ì•Šìœ¼ë©´ 1
X.loc[~condition, 'wt_class'] = 1

In [68]:
X[['wt', 'wt_class']].head()

      wt  wt_class
0  2.620       0.0
1  2.875       0.0
2  2.320       0.0
3  3.215       0.0
4  3.440       1.0

In [69]:
# wtì—´ ì‚­ì œ
X = X.drop(columns = ['wt'])

X.head()

   cyl   disp     hp  drat   qsec  vs  gear  carb  am_new  wt_class
0  6.0  160.0  110.0  3.90  16.46   0     4   4.0       0       0.0
1  6.0  160.0  110.0  3.90  17.02   0     4   4.0       0       0.0
2  4.0  108.0   93.0  3.85  18.61   1     4   1.0       0       0.0
3  6.0  258.0  110.0  3.08   0.10   1     3   1.0       1       0.0
4  8.0  360.0  175.0  3.15  17.02   0     3   2.0       1       1.0